<details id="folder-{{entity.id}}" (toggle)="showContents($event)" class="p-1">
    <summary>
        <p (click)="showFeedItemsForFolder()" class="ms-2 fw-medium">{{entity.name}}</p>
        
        <div class="dropdown ms-auto">
            <button type="button" class="btn btn-sm" data-bs-toggle="dropdown">
                <i class="fa-solid fa-sm fa-ellipsis"></i>
            </button>
            
            <ul class="dropdown-menu">
                <li>
                    <button (click)="toggleSubfolderForm()" class="dropdown-item">
                        Add sub-folder
                    </button>
                </li>
                <li>
                    <button (click)="toggleFeedForm()" class="dropdown-item">
                        Add new feed
                    </button>
                </li>
                <li>
                    <button (click)="delete()" type="button" class="dropdown-item text-danger">Delete</button>
                </li>
            </ul>
        </div>
    </summary>

    <ul id="folderContents-{{entity.id}}" class="list-group list-group-flush">
        <li id="subfolderFormItem-{{entity.id}}" class="list-group-item border-0 d-none">
            <form [formGroup]="subfolderForm">
                <div class="input-group">
                    <button (click)="toggleSubfolderForm()" type="button" class="btn btn-outline-dark">
                        <i class="fa-solid fa-sm fa-xmark"></i>
                    </button>
                    <input (keyup.enter)="addSubfolder()" formControlName="name" type="text" placeholder="Add folder name" class="form-control"> 
                </div>
            </form>
        </li>
        <li id="feedFormItem-{{entity.id}}" class="list-group-item border-0 d-none">
            <form [formGroup]="feedForm" (ngSubmit)="addFeed()">
                <div class="input-group">
                    <button (click)="toggleFeedForm()" type="button" class="btn btn-sm btn-outline-dark">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    <button type="submit" class="btn btn-sm btn-outline-success">
                        <i class="fa-solid fa-plus"></i>
                    </button>

                    <input formControlName="url" type="url" placeholder="Feed url" class="form-control">
                    <input formControlName="name" type="text" placeholder="Feed name" class="form-control">
                </div>

            </form>
        </li>
        
        <div class="border-start border-dark border-1">
            @for(subfolder of entity.subfolders; track subfolder.id) {
                <li class="list-group-item border-0">
                    <app-folder [entity]="subfolder" (showFeedFeedItemsEvent)="showFeedItemsForFeed($event)" (showFolderFeedItemsEvent)="showFeedItemsForFolder($event)" (removeEvent)="removeSubfolder($event)"></app-folder>
                </li>

                <hr class="m-1"/>
            } 

            @for(feed of entity.feeds; track feed) {
                <li class="list-group-item border-0 text-break">
                    <p (click)="showFeedItemsForFeed(feed.feedSubscriptionId)" class="mb-1 clickable hover-underline fst-italic">
                        {{feed.subscriptionName}}
                    </p>
                    
                    <div>
                        @if(tagFormErrors.length != 0) {
                            <div class="text-danger">
                                <ul>
                                    @for(error of tagFormErrors; track error) {
                                        <li>{{error}}</li>
                                    }
                                </ul>
                            </div>
                        }
                        <div class="d-flex flex-wrap align-items-center">
                            <form [formGroup]="tagForm" class="me-1">
                                <div class="input-group">
                                    <button (click)="toggleTagsForm(feed.feedSubscriptionId)" type="button" class="btn btn-sm ps-1">
                                        <i class="text-primary fa-solid fa-hashtag"></i>
                                    </button>

                                    <input id="tags-input-{{feed.feedSubscriptionId}}" formControlName="name" type="text" (keyup.enter)="addTagToFeed(feed.feedSubscriptionId)" class="form-control form-control-sm d-none" placeholder="Insert new tag"/>
                                </div>
                            </form>

                            @for(feedTag of feed.tags; track feedTag.id) {
                                <p class="badge rounded-pill bg-body-tertiary text-body-secondary py-2 px-3 me-1 my-1">
                                    {{feedTag.name}}&nbsp;
                                    <i (click)="removeTagFromFeed(feed.feedSubscriptionId, feedTag.id, $event)" class="clickable fa-solid fa-xmark opacity-75"></i>
                                </p>
                            }
                        </div>
                    </div>
                </li>
            }
        </div>
    </ul>
</details>